<thf-page-default >
<blockquote id="blockquote">Indicadores Manutenção PRIME</blockquote>

<form #f="ngForm" id="f">
  <div class="thf-row">
    <thf-widget class="thf-md-12"  >
      <thf-datepicker class="thf-md-3" name="startDate" [(ngModel)]="startDate" t-clean t-format="dd/mm/yyyy" t-label="Início do Período" t-required>
      </thf-datepicker>
      <thf-datepicker class="thf-md-3" name="endDate" [(ngModel)]="endDate" t-clean t-format="dd/mm/yyyy" t-label="Fim do Período" t-required>
      </thf-datepicker>
      <thf-button id="btngerar" class="thf-md-6" (t-click)= "geraIndicadores()" t-icon="thf-icon thf-icon-bar-code" t-label="Gerar Indicadores" t-primary="true">
      </thf-button>
  </thf-widget>
  </div>
</form>

<hr id="hr">

<div class="thf-row" id="chart1">
  <thf-widget class="thf-md-12" >
      <div class="thf-row" id="titlebacklog">
          <h1>Backlog</h1>    
      </div>
    
    <div class="thf-row">
      <thf-widget class="thf-md-6"  >
        <thf-chart class="thf-md-12" 
          [t-categories]="categchart2"
          t-height="390px;"
          t-label-visible="true"
          [t-series]="serieschart2"
          t-title="Issues Criadas x Resolvidas"
          t-type="column"
          (t-series-click)="changeEvent('t-series-click')"
          (t-series-hover)="changeEvent('t-series-hover')">
        </thf-chart>
      </thf-widget>   

      <thf-widget class="thf-md-6">
        <thf-chart class="thf-md-12"       
         t-height="390px;"
         t-label-visible="true"
         [t-series]="serieschart4"
         t-title="Issues Abertas - Versões"
         t-type="column"
         (t-series-click)="changeEvent('t-series-click')"
         (t-series-hover)="changeEvent('t-series-hover')">
       </thf-chart>
      </thf-widget>
    </div>

    <div class="thf-row">
      
      <thf-widget class="thf-md-6"  >
        <thf-chart class="thf-md-12" 
          [t-categories]="categchart6"
          t-height="390px;"
          t-label-visible="true"
          [t-series]="serieschart6"
          t-title="DataPrev - Criados x Resolvidos"
          t-type="donut"
          (t-series-click)="changeEvent('t-series-click')"
          (t-series-hover)="changeEvent('t-series-hover')">
        </thf-chart>
      </thf-widget>

        <thf-widget class="thf-md-6">
          <thf-chart class="thf-md-12" 
            [t-categories]="categchart7"
            t-height="390px;"
            t-label-visible="true"
            [t-series]="serieschart7"
            t-title="Entrega Detalhada"
            t-type="column"
            (t-series-click)="changeEvent('t-series-click')"
            (t-series-hover)="changeEvent('t-series-hover')">
          </thf-chart>

        </thf-widget>


    </div>
      
    <thf-button id="btn" class="thf-md-6" (t-click)= "onbotao1()" t-icon="thf-icon thf-icon-more" t-label="Salvar em PDF" t-primary="true"></thf-button>
    <thf-button id="btn" class="thf-md-6" (t-click)= "onbotao1()" t-icon="thf-icon thf-icon-mail" t-label="Enviar por e-mail" t-primary="true"></thf-button>

  </thf-widget>    
</div>

</thf-page-default>