<thf-page-default >
<blockquote id="blockquote">Indicadores Manutenção PRIME</blockquote>

<form #f="ngForm" id="f">
  <div class="thf-row">
    <thf-widget class="thf-md-12"  >
      <thf-datepicker class="thf-md-3" name="startDate" [(ngModel)]="startDate" t-clean t-format="dd/mm/yyyy" t-label="Início do Período" t-required>
      </thf-datepicker>
      <thf-datepicker class="thf-md-3" name="endDate" [(ngModel)]="endDate" t-clean t-format="dd/mm/yyyy" t-label="Fim do Período" t-required>
      </thf-datepicker>
      <thf-button id="btngerar" class="thf-md-6" (t-click)= "geraIndicadores()" [t-loading]="loadButton" t-icon="thf-icon thf-icon-logo-totvs" [t-label]="labelButton" t-primary="true">
      </thf-button>
  </thf-widget>
  </div>
</form>

<hr id="hr">

<div class="thf-row">
  <thf-widget class="thf-md-12" >
      <div class="thf-row" id="titlebacklog">
          <h1>Backlog</h1>    
      </div>
    
    <div class="thf-row">
      <thf-widget class="thf-md-6">
        <kendo-chart class="thf-md-12" id="IssuesCriadas" #IssuesCriadas
          [categoryAxis]="{'categories' : categchart2}"
          style.height="390px;"
          type="column">
          <kendo-chart-title text="Issues Criados x Resolvidos"> </kendo-chart-title>
          <kendo-chart-legend position="bottom" orientation="horizontal"> </kendo-chart-legend>
          <kendo-chart-tooltip> </kendo-chart-tooltip>
          <kendo-chart-series> <kendo-chart-series-item *ngFor="let serie of serieschart2" [name]="serie.name" [type]="number" [data]="serie.data">
          <kendo-chart-series-item-labels [visible]="labelVisible" color="#fff" background="#0c9abe" border= "{color: '#0c9abe'}"> 
          </kendo-chart-series-item-labels></kendo-chart-series-item> </kendo-chart-series>
        </kendo-chart>

      </thf-widget>   

      <thf-widget class="thf-md-6">
        <kendo-chart class="thf-md-12" id="IssuesAbertas" #IssuesAbertas
         [categoryAxis]="{'categories' : categchart4}"
         style.height="390px;"
         type="column">
        <kendo-chart-title text="Issues Abertas - Versões"> </kendo-chart-title>
        <kendo-chart-legend position="bottom" orientation="horizontal"> </kendo-chart-legend>
        <kendo-chart-tooltip> </kendo-chart-tooltip>
        <kendo-chart-series> <kendo-chart-series-item *ngFor="let serie of serieschart4" [name]="serie.name" [type]="number" [data]="serie.data">
        <kendo-chart-series-item-labels [visible]="labelVisible" color="#fff" background="#0c9abe" border= "{color: '#0c9abe'}"> 
        </kendo-chart-series-item-labels></kendo-chart-series-item> </kendo-chart-series>
       </kendo-chart>
      </thf-widget>
    </div>

    <div class="thf-row">
      <thf-widget class="thf-md-6"  >
        <kendo-chart class="thf-md-12" id="DataPrevCriados" #DataPrevCriados    
         [categoryAxis]="{'categories' : categchart6}"
         style.height="390px;"
         type="donut">
          <kendo-chart-title text="DataPrev - Criados x Resolvidos"> </kendo-chart-title>
          <kendo-chart-legend position="bottom" orientation="horizontal"> </kendo-chart-legend>
          <kendo-chart-tooltip> </kendo-chart-tooltip>
          <kendo-chart-series>
          <kendo-chart-series-item *ngFor="let series of serieschart6; let outermost = last;"
                                   type="donut" [startAngle]="150"
                                   [name]="series.category" [data]="series.data"
                                   field="value" categoryField="category" colorField="color">
            <kendo-chart-series-item-labels *ngIf="outermost"
                                            position="outsideEnd" background="none"
                                            [content]="labelContent">
            </kendo-chart-series-item-labels>
          </kendo-chart-series-item>
          </kendo-chart-series>
       </kendo-chart>
      </thf-widget>
      <thf-widget class="thf-md-6">
          <kendo-chart class="thf-md-12" id="EnrtregaDetalhada" #EnrtregaDetalhada  
         [categoryAxis]="{'categories' : categchart7}"
         style.height="390px;"
         type="column">
          <kendo-chart-title text="Entrega Detalhada"> </kendo-chart-title>
          <kendo-chart-legend position="bottom" orientation="horizontal"> </kendo-chart-legend>
          <kendo-chart-tooltip> </kendo-chart-tooltip>
          <kendo-chart-series> <kendo-chart-series-item *ngFor="let serie of serieschart7" [name]="serie.name" [type]="number" [data]="serie.data">
          <kendo-chart-series-item-labels [visible]="labelVisible" color="#fff" background="#0c9abe" border= "{color: '#0c9abe'}"> 
          </kendo-chart-series-item-labels></kendo-chart-series-item> </kendo-chart-series>
       </kendo-chart>
        </thf-widget>
    </div>
  
  </thf-widget>    
</div>

<div>
  <thf-button id="btngerar" class="thf-md-6" (t-click)= "pdf()" [t-loading]="loadButton" t-icon="thf-icon thf-icon-logo-totvs" t-label="Exportar para PDF" t-primary="true"></thf-button>
</div>
</thf-page-default>


