#blockquote{
    border-left: 5px solid #0c9abe;
    margin: 0px 0 20px;
    padding: 10px 20px;
    font-size: 20px;       
}
#btn{
    margin-top: 10px;
    margin-bottom: 20px;	
}
#btngerar{
    margin-top: 30px;	
}

#imgcabec{
    background-repeat: no-repeat;	
	margin-top: -40px;
}

#chart1{
    margin-top: 30px;	
    margin-bottom: 30px;
    margin-right: 30px;
}
#wid{
    margin-bottom: 10px;
}
#f{
    margin-top: 30px;	
    margin-bottom: 30px;
    position: relative;
}

#hr {
	border:#0c9abe solid ;
	
}

#titlebacklog{
    border-left: 5px solid #0c9abe;

    margin: 0px 0 20px;
    padding: 10px 20px;
    font-size: 8px;
}