#blockquote{
    border-left: 5px solid #0c9abe;
    margin: 0px 0 20px;
    padding: 10px 20px;
    font-size: 20px;       
}
#btngerar{
    margin-bottom: 20px;
}
#hr {
	border:#0c9abe solid ;
    margin-left: 20px;
}
#f{
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

#titlebacklog{
    border-left: 5px solid #0c9abe;
    margin: 0px 0 50px;
    padding: 10px 20px;
    font-size: 8px;
}
#wid{
    margin-bottom: 30px;
    margin-top: 30px;
}