<thf-page-default >
  <blockquote id="blockquote">Backlog Manutenção PRIME</blockquote>
  <form #f="ngForm" id="f">
    <div class="thf-row">
      <thf-widget class="thf-md-12">
        <thf-button id="btngerar" class="thf-md-12" (t-click)= "validaSessao()" t-icon="thf-icon thf-icon-logo-totvs" [t-loading]="loading" [t-label]="textButton" t-primary="true"></thf-button>
      </thf-widget>
    </div>
  </form>
      
  <hr id="hr">
<div class="thf-row">
  <thf-widget class="thf-md-12" id= "widgeral">
  <thf-loading-overlay [hidden]="isHideLoading"></thf-loading-overlay>

  <div class="thf-row" id="titlebacklog">
    <h1>Backlog</h1>    
  </div>
  <div class="progress">
    <div class="progress-bar"></div>
  </div>
  <div class="thf-row" id="chart1">
    <div class="chart-loading"></div>
    <thf-widget class="thf-md-6" id="wid">
      <kendo-chart class="thf-md-12" id="chartTest"
        [categoryAxis]="{'categories' : categchart0}"
        style.height="390px;"
        type="column"
        (seriesClick)="openModal($event, '', 'issuesPendentes')"
        [seriesColors]="['#3498db', '#8CC375', '#FF4343']">  
        <kendo-chart-title text="Issues Pendentes"> </kendo-chart-title>   
        <kendo-chart-legend position="bottom" orientation="horizontal"> </kendo-chart-legend>
        <kendo-chart-tooltip> </kendo-chart-tooltip>
        <kendo-chart-series> <kendo-chart-series-item *ngFor="let serie of serieschart0" [name]="serie.name" [type]="number" [data]="serie.data" >
        <kendo-chart-series-item-labels visible="true"> 
        </kendo-chart-series-item-labels></kendo-chart-series-item> </kendo-chart-series>
      </kendo-chart>
      
    </thf-widget>   

    <thf-widget class="thf-md-6" id="wid" >
      <kendo-chart class="thf-md-12" 
        [categoryAxis]="{'categories' : categchart00}"
        style.height="390px;"
        type="donut"
        (seriesClick)="openModal($event, '', 'issuesEmAprovacao')"
        [seriesColors]="['#3498db', '#8CC375']">
        <kendo-chart-title text="Issues em Aprovação"> </kendo-chart-title>   
        <kendo-chart-legend position="bottom" orientation="horizontal"> </kendo-chart-legend>
        <kendo-chart-tooltip> </kendo-chart-tooltip>
         <kendo-chart-series>
          <kendo-chart-series-item *ngFor="let series of serieschart00; let outermost = last;" type="donut" [startAngle]="150" [name]="series.category" [data]="series.data"
                                   field="value" categoryField="category" colorField="color">
            <kendo-chart-series-item-labels visible="true" *ngIf="outermost" position="outsideEnd" background="none" [content]="labelContent"></kendo-chart-series-item-labels>
          </kendo-chart-series-item>
          </kendo-chart-series>
      </kendo-chart>
  </thf-widget>   
  </div>

  <div class="thf-row" id="titlebacklog">
    <h1>Backlog Analistas</h1>    
  </div>

  <div class="thf-row">  
   <thf-widget class="thf-md-4" id="wid" *ngFor="let users of analist; let i = index">
      <kendo-chart class="thf-md-12" 
         [categoryAxis]="{'categories' : categchart1}"
        style.height="350px"
        type="column"
        (seriesClick)="openModal($event, users, 'itens')" 
        [seriesColors]="['#3498db', '#8CC375', '#FF4343', '#FFB900', '#F7630C']">
        <kendo-chart-title [text]="users"> </kendo-chart-title>
        <kendo-chart-legend position="bottom" orientation="horizontal"> </kendo-chart-legend>
        <kendo-chart-tooltip> </kendo-chart-tooltip>
        <kendo-chart-series> <kendo-chart-series-item *ngFor="let serie of serieschart[i]" [name]="serie.name" [type]="number" [data]="serie.data" >
        <kendo-chart-series-item-labels visible="true"> 
        </kendo-chart-series-item-labels></kendo-chart-series-item> </kendo-chart-series>
      </kendo-chart>
   </thf-widget>
  </div>       
</thf-widget>
</div>
    
  <thf-modal
    t-title="Issues"
    t-size="xx"
    [t-primary-action]="primaryAction">

    <div class="thf-row">
      <thf-grid 
      [t-data]="itemsGrid" 
      [t-columns]="columnsGrid" 
      [t-sortable]=false 
      [t-show-export-buttons]=true 
      [t-editable]=false 
      t-selectable=false>
      </thf-grid>      
    </div>
  </thf-modal>
  
</thf-page-default>    

