<thf-page-default >
  <blockquote id="blockquote">Backlog Manutenção PRIME</blockquote>
  <form #f="ngForm" id="f">
    <div class="thf-row">
      <thf-widget class="thf-md-12">
        <thf-button id="btngerar" class="thf-md-12" (t-click)= "gerarIndicadores()" t-icon="thf-icon thf-icon-logo-totvs" [t-loading]="loading" [t-label]="textButton" t-primary="true"></thf-button>
      </thf-widget>
    </div>
  </form>
      
  <hr id="hr">

<thf-widget class="thf-md-12" id= "widgeral">

  <div class="thf-row" id="titlebacklog">    
    <h1>Backlog</h1>    
  </div>
  <div class="progress">
    <div class="progress-bar"></div>
  </div>
  <div class="thf-row" id="chart1">
    <div class="chart-loading"></div>
    <thf-widget class="thf-md-6" id="wid">
      <thf-chart class="thf-md-12" id="chartTest"
        [t-categories]="categchart0"
        t-height="390px;"
        t-label-visible="true"
        [t-series]="serieschart0"
        t-title="Issues Pendentes"
        t-type="column"
        (t-series-click)="openModal($event, '', 'issuesPendentes')"
        (t-series-hover)="changeEvent('t-series-hover')">     
      </thf-chart>
      
    </thf-widget>   

    <thf-widget class="thf-md-6" id="wid" >
      <thf-chart class="thf-md-12" 
        [t-categories]="categchart00"
        t-height="390px;"
        t-label-visible="true"
        [t-series]="serieschart00"
        t-title="Issues em Aprovação"
        t-type="pie"
        (t-series-click)="openModal($event, '', 'issuesEmAprovacao')"
        (t-series-hover)="changeEvent('t-series-hover')">
      </thf-chart>
  </thf-widget>   
  </div>

  <div class="thf-row" id="titlebacklog">
    <h1>Backlog Analistas</h1>    
  </div>


   <thf-widget class="thf-md-4" id="wid">
    <div class="thf-row">  
      <thf-chart class="thf-md-12" 
        [t-categories]="categchart1"
        t-height="350px"
        t-label-visible="true"
        [t-series]="serieschart[0]"
        [t-title]="analist[0]"
        t-type="column"
        (t-series-click)="openModal($event, analist[0], 'itens')"
        (t-series-hover)="changeEvent('t-series-hover')">
      </thf-chart>
    </div>
   </thf-widget>

   <thf-widget class="thf-md-4" id="wid">
      <div class="thf-row">  
        <thf-chart class="thf-md-12" 
          [t-categories]="categchart1"
          t-height="350px;"
          t-label-visible="true"
          [t-series]="serieschart[1]"
          [t-title]="analist[1]"
          t-type="column"
          (t-series-click)="openModal($event, analist[1], 'itens')"
          (t-series-hover)="changeEvent('t-series-hover')">
        </thf-chart>
      </div>
    </thf-widget>

    <thf-widget class="thf-md-4" id="wid">
      <div class="thf-row">  
        <thf-chart class="thf-md-12" 
          [t-categories]="categchart1"
          t-height="350px;"
          t-label-visible="true"
          [t-series]="serieschart[2]"
          [t-title]="analist[2]"
          t-type="column"
          (t-series-click)="openModal($event, analist[2], 'itens')"
          (t-series-hover)="changeEvent('t-series-hover')">
        </thf-chart>
      </div>
    </thf-widget>

    <thf-widget class="thf-md-4" id="wid">
      <div class="thf-row">  
        <thf-chart class="thf-md-12" 
          [t-categories]="categchart1"
          t-height="350px;"
          t-label-visible="true"
          [t-series]="serieschart[3]"
          [t-title]="analist[3]"
          t-type="column"
          (t-series-click)="openModal($event, analist[3], 'itens')"
          (t-series-hover)="changeEvent('t-series-hover')">
        </thf-chart>
      </div>
     </thf-widget>

     <thf-widget class="thf-md-4" id="wid">
      <div class="thf-row">  
        <thf-chart class="thf-md-12" 
          [t-categories]="categchart1"
          t-height="350px;"
          t-label-visible="true"
          [t-series]="serieschart[4]"
          [t-title]="analist[4]"
          t-type="column"
          (t-series-click)="openModal($event, analist[4], 'itens')"
          (t-series-hover)="changeEvent('t-series-hover')">
        </thf-chart>
      </div>
     </thf-widget>

     <thf-widget class="thf-md-4" id="wid">
      <div class="thf-row">  
        <thf-chart class="thf-md-12" 
          [t-categories]="categchart1"
          t-height="350px;"
          t-label-visible="true"
          [t-series]="serieschart[5]"
          [t-title]="analist[5]"
          t-type="column"
          (t-series-click)="openModal($event, analist[5], 'itens')"
          (t-series-hover)="changeEvent('t-series-hover')">
        </thf-chart>
      </div>
     </thf-widget>

     <thf-widget class="thf-md-4" id="wid">
      <div class="thf-row">  
        <thf-chart class="thf-md-12" 
          [t-categories]="categchart1"
          t-height="350px;"
          t-label-visible="true"
          [t-series]="serieschart[6]"
          [t-title]="analist[6]"
          t-type="column"
          (t-series-click)="openModal($event, analist[6], 'itens')"
          (t-series-hover)="changeEvent('t-series-hover')">
        </thf-chart>
      </div>
     </thf-widget>

     <thf-widget class="thf-md-4" id="wid">
      <div class="thf-row">  
        <thf-chart class="thf-md-12" 
          [t-categories]="categchart1"
          t-height="350px;"
          t-label-visible="true"
          [t-series]="serieschart[7]"
          [t-title]="analist[7]"
          t-type="column"
          (t-series-click)="openModal($event, analist[7], 'itens')"
          (t-series-hover)="changeEvent('t-series-hover')">
        </thf-chart>
      </div>
     </thf-widget>

     <thf-widget class="thf-md-4" id="wid">
      <div class="thf-row">  
        <thf-chart class="thf-md-12" 
          [t-categories]="categchart1"
          t-height="350px;"
          t-label-visible="true"
          [t-series]="serieschart[8]"
          [t-title]="analist[8]"
          t-type="column"
          (t-series-click)="openModal($event, analist[8], 'itens')"
          (t-series-hover)="changeEvent('t-series-hover')">
        </thf-chart>
      </div>
     </thf-widget>

     <thf-widget class="thf-md-4" id="wid">
      <div class="thf-row">  
        <thf-chart class="thf-md-12" 
          [t-categories]="categchart1"
          t-height="350px;"
          t-label-visible="true"
          [t-series]="serieschart[9]"
          [t-title]="analist[9]"
          t-type="column"
          (t-series-click)="openModal($event, analist[9], 'itens')"
          (t-series-hover)="changeEvent('t-series-hover')">
        </thf-chart>
      </div>
     </thf-widget>
    </thf-widget>

  <thf-modal
    t-title="Issues"
    t-size="xx"
    [t-primary-action]="primaryAction">

    <div class="thf-row">
      <thf-grid 
      [t-data]="itemsGrid" 
      [t-columns]="columnsGrid" 
      [t-sortable]=false 
      [t-show-export-buttons]=true 
      [t-editable]=false 
      t-selectable=false>
      </thf-grid>      
    </div>
  </thf-modal>
  
</thf-page-default>    

