
<thf-page-default t-title="Pagina do Mario!!!!">

  <!-- avatar -->
  <thf-avatar
  t-size="24x24"
  t-src="./assets/images/mario.png" >
  </thf-avatar>
  
  <!-- texto -->
  <div class="thf-row">
      <p class="thf-font-text">
    Mario Bross
      </p>
    </div>  
    <br><br>

    <!--<!-- botão -->  
  <thf-button
    (t-click)= "onbotao1()"
    t-icon="thf-icon thf-icon-bar-code"
    t-label="Alert do Nome">
  </thf-button>
  <br><br>

  <!--<!-- ComboBox -->  
  <thf-combo
    t-label="Combo1"
    name="Anomes">
  </thf-combo>
  <br><br>

  <!--<!-- Decimal -->  
  <thf-decimal
    (t-blur)="decimal()"
    t-icon="thf-icon thf-icon-telephone"
    name="Decimal" >
  </thf-decimal>
  <br><br>

</thf-page-default>