<thf-page-default >
  <blockquote id="blockquote">Indicadores de Performance Manutenção PRIME</blockquote>

  <form #f="ngForm" id="f">
    <div class="thf-row">
      <thf-widget class="thf-md-12"  >
        <thf-datepicker class="thf-md-3" name="startDate" [(ngModel)]="startDate" t-clean t-format="dd/mm/yyyy" t-label="Início do Período" t-required></thf-datepicker>
        <thf-datepicker class="thf-md-3" name="endDate" [(ngModel)]="endDate" t-clean t-format="dd/mm/yyyy" t-label="Fim do Período" t-required></thf-datepicker>
        <thf-button id="btngerar" class="thf-md-6" (t-click)= "validaSessao()" [t-loading]="loadButton" t-icon="thf-icon thf-icon-logo-totvs" [t-label]="labelButton" t-primary="true"></thf-button>
      </thf-widget>
    </div>
  </form>
      
  <hr id="hr">

  <div class="thf-row">  
    <thf-widget class="thf-md-12" id="widgeral">
      <thf-loading-overlay [hidden]="isHideLoading"></thf-loading-overlay>
      <div class="thf-row">  
        <thf-widget class="thf-md-12" id="wid">
          <kendo-chart class="thf-md-12" 
            [categoryAxis]="{'categories' : categchart1}"
            style.height="450px;"
            type="column"
            [seriesColors]="['#3498db', '#8CC375', '#FF4343']">
            <kendo-chart-title text="Produtividade - Entrega"> </kendo-chart-title>
            <kendo-chart-legend position="bottom" orientation="horizontal"> </kendo-chart-legend>
            <kendo-chart-tooltip> </kendo-chart-tooltip>
            <kendo-chart-series> <kendo-chart-series-item *ngFor="let serie of serieschart1" [name]="serie.name" [type]="number" [data]="serie.data" >
            <kendo-chart-series-item-labels visible="true"> 
            </kendo-chart-series-item-labels></kendo-chart-series-item> </kendo-chart-series>
          </kendo-chart>
        </thf-widget>
      </div>

        <div class="thf-row" id="titlebacklog">
          <h1>Performance Analistas</h1>    
        </div>
        <div class="thf-row"> 
          <thf-widget class="thf-md-4" id="wid" *ngFor="let users of usuarios; let i = index">
            <kendo-chart class="thf-md-12" 
              categoryAxis=""
              style.height="390px;"
              t-label-visible="true"
              type="column"
              (seriesClick)="openModal($event, users.label)"
              [seriesColors]="['#3498db', '#8CC375', '#FF4343', '#FFB900']">          
              <kendo-chart-title [text]="users.label"> </kendo-chart-title>
              <kendo-chart-legend position="bottom" orientation="horizontal"> </kendo-chart-legend>
              <kendo-chart-tooltip> </kendo-chart-tooltip>
              <kendo-chart-series> <kendo-chart-series-item *ngFor="let serie of serieschartPerf[i]" [name]="serie.name" [type]="number" [data]="serie.data" >
              <kendo-chart-series-item-labels visible="true"> 
              </kendo-chart-series-item-labels></kendo-chart-series-item> </kendo-chart-series>
            </kendo-chart>
        </thf-widget>
      </div>
    </thf-widget>
    </div>

    <thf-modal
    t-title="Issues"
    t-size="xx"
    [t-primary-action]="primaryAction">

    <div class="thf-row">
      <thf-grid 
      [t-data]="itemsGrid" 
      [t-columns]="columnsGrid" 
      [t-sortable]=false 
      [t-show-export-buttons]=true 
      [t-editable]=false 
      t-selectable=false>
      </thf-grid>      
    </div>
  </thf-modal>

</thf-page-default>    

