<thf-page-default>
  <blockquote id="blockquote">Equipe Manutenção PRIME</blockquote>

  <div class="thf-row">

    <thf-widget class="thf-md-4" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid" (t-primary-action)="callContact('1512')"
      (t-secondary-action)="sendContact('caio.felipe@totvs.com.br')">

      <thf-avatar class="thf-md-4" t-size="md" t-src="../../assets/images/caio.png">
      </thf-avatar>

      <div class="thf-md-8">
        <ul>
          <li>
            <span class="thf-icon thf-icon-user"></span>
            <strong> Caio Cesar Felipe</strong>
          </li>
          <li>
            <span class="thf-icon thf-icon-telephone"></span> (11) 2859 1512</li>
          <li>
            <span class="thf-icon thf-icon-mail"></span> caio.felipe@totvs.com.br</li>
          <p>
        </ul>
      </div>
    </thf-widget>

    <thf-widget class="thf-md-4" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid" (t-primary-action)="callContact('4175')"
      (t-secondary-action)="sendContact('tiagob.bertolo@totvs.com.br')">

      <thf-avatar class="thf-md-4" t-size="md" t-src="../../assets/images/tiago.jpg">
      </thf-avatar>

      <div class="thf-md-8">
        <ul>
          <li>
            <span class="thf-icon thf-icon-user"></span>
            <strong> Tiago Bertolo</strong>
          </li>
          <li>
            <span class="thf-icon thf-icon-telephone"></span> (11) 2859 4175</li>
          <li>
            <span class="thf-icon thf-icon-mail"></span> tiagob.bertolo@totvs.com.br</li>
          <p>
        </ul>
      </div>
    </thf-widget>

    <thf-widget class="thf-md-4" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid" (t-primary-action)="callContact('1293')"
      (t-secondary-action)="sendContact('eduardo.martinez@totvs.com.br')">

      <thf-avatar class="thf-md-4" t-size="md" t-src="../../assets/images/eduardo.png">
      </thf-avatar>

      <div class="thf-md-8">
        <ul>
          <li>
            <span class="thf-icon thf-icon-user"></span>
            <strong> Eduardo Karpischek Martinez</strong>
          </li>
          <li>
            <span class="thf-icon thf-icon-telephone"></span> (11) 2859 1293</li>
          <li>
            <span class="thf-icon thf-icon-mail"></span> eduardo.martinez@totvs.com.br</li>
          <p>
        </ul>
      </div>
    </thf-widget>     
  </div>

  <div class="thf-row">  

    <thf-widget class="thf-md-4" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid" (t-primary-action)="callContact('2859')"
      (t-secondary-action)="sendContact('vitor.pires@totvs.com.br')">

      <thf-avatar class="thf-md-4" t-size="md" t-src="../../assets/images/vitor.png">
      </thf-avatar>

      <div class="thf-md-8">
        <ul>
          <li>
            <span class="thf-icon thf-icon-user"></span>
            <strong> Vitor Pires</strong>
          </li>
          <li>
            <span class="thf-icon thf-icon-telephone"></span> (11) 2859 1467</li>
          <li>
            <span class="thf-icon thf-icon-mail"></span> vitor.pires@totvs.com.br</li>
          <p>
        </ul>
      </div>
    </thf-widget>

    <thf-widget class="thf-md-4" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid" (t-primary-action)="callContact('2877')"
      (t-secondary-action)="sendContact('marco.arcanjo@totvs.com.br')">

      <thf-avatar class="thf-md-4" t-size="md" t-src="../../assets/images/marco.jpeg">
      </thf-avatar>

      <div class="thf-md-8">
        <ul>
          <li>
            <span class="thf-icon thf-icon-user"></span>
            <strong> Marco Antonio Simoes Arcanjo</strong>
          </li>
          <li>
            <span class="thf-icon thf-icon-telephone"></span> (11) 2859 2877</li>
          <li>
            <span class="thf-icon thf-icon-mail"></span> marco.arcanjo@totvs.com.br</li>
          <p>
        </ul>
      </div>
    </thf-widget>

    <thf-widget class="thf-md-4" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid" (t-primary-action)="callContact('5514')"
      (t-secondary-action)="sendContact('luis.fernando@totvs.com.br')">

      <thf-avatar class="thf-md-4" t-size="md" t-src="../../assets/images/luisM.jpg">
      </thf-avatar>

      <div class="thf-md-8">
        <ul>
          <li>
            <span class="thf-icon thf-icon-user"></span>
            <strong> Luís Magalhães</strong>
          </li>
          <li>
            <span class="thf-icon thf-icon-telephone"></span> (11) 2859 5514</li>
          <li>
            <span class="thf-icon thf-icon-mail"></span> luis.fernando@totvs.com.br</li>
          <p>
        </ul>
      </div>
    </thf-widget>
  </div>

  <div class="thf-row">

    <thf-widget class="thf-md-4" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid" (t-primary-action)="callContact('5501')"
      (t-secondary-action)="sendContact('rodrigo.carvalheiro@totvs.com.br')">

      <thf-avatar class="thf-md-4" t-size="md" t-src="../../assets/images/rodrigo.jpg">
      </thf-avatar>

      <div class="thf-md-8">
        <ul>
          <li>
            <span class="thf-icon thf-icon-user"></span>
            <strong> Rodrigo Gomes Carvalheiro</strong>
          </li>
          <li>
            <span class="thf-icon thf-icon-telephone"></span> (11) 2859 5501</li>
          <li>
            <span class="thf-icon thf-icon-mail"></span> rodrigo.carvalheiro@totvs.com.br</li>
          <p>
        </ul>
      </div>
    </thf-widget>

    <thf-widget class="thf-md-4" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid" (t-primary-action)="callContact('1802')"
      (t-secondary-action)="sendContact('oliveira.eder@totvs.com.br')">

      <thf-avatar class="thf-md-4" t-size="md" t-src="../../assets/images/eder.png">
      </thf-avatar>

      <div class="thf-md-8">
        <ul>
          <li>
            <span class="thf-icon thf-icon-user"></span>
            <strong> Eder Luciano de Oliveira</strong>
          </li>
          <li>
            <span class="thf-icon thf-icon-telephone"></span> (11) 2859 1802</li>
          <li>
            <span class="thf-icon thf-icon-mail"></span> oliveira.eder@totvs.com.br</li>
          <p>
        </ul>
      </div>
    </thf-widget>   

    <thf-widget class="thf-md-4" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid" (t-primary-action)="callContact('2306')"
      (t-secondary-action)="sendContact('julio.silva@totvs.com.br')">

      <thf-avatar class="thf-md-4" t-size="md" t-src="../../assets/images/julio.png">
      </thf-avatar>

      <div class="thf-md-8">
        <ul>
          <li>
            <span class="thf-icon thf-icon-user"></span>
            <strong> Julio Fernando da Silva Santos</strong>
          </li>
          <li>
            <span class="thf-icon thf-icon-telephone"></span> (11) 2859 2306</li>
          <li>
            <span class="thf-icon thf-icon-mail"></span> julio.silva@totvs.com.br</li>
          <p>
        </ul>
      </div>
    </thf-widget>    
  </div>

  <div class="thf-row"> 

    <thf-widget class="thf-md-4" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid" (t-primary-action)="callContact('5838')"
      (t-secondary-action)="sendContact('fernando.luis@totvs.com.br')">

      <thf-avatar class="thf-md-4" t-size="md" t-src="../../assets/images/fernando.jpg">
      </thf-avatar>

      <div class="thf-md-8">
        <ul>
          <li>
            <span class="thf-icon thf-icon-user"></span>
            <strong> Fernando Luis Guilherme</strong>
          </li>
          <li>
            <span class="thf-icon thf-icon-telephone"></span> (11) 2859 5838</li>
          <li>
            <span class="thf-icon thf-icon-mail"></span> fernando.luis@totvs.com.br</li>
          <p>
        </ul>
      </div>
    </thf-widget>

  </div>

</thf-page-default>