<thf-page-default >
  <blockquote id="blockquote">Equipe Manutenção PRIME</blockquote>

  <div class="thf-row">
      <thf-widget class="thf-md-4" t-height="200" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid"
        (t-primary-action) ="callContact('1170')"
        (t-secondary-action) = "sendContact('renato.campos@totvs.com.br')"> 
    
        <thf-avatar class="thf-md-4" t-size="md"
          t-src="../../assets/images/renato.png">
        </thf-avatar>
    
        <div class="thf-md-8">
          <ul>
          <li><span class="thf-icon thf-icon-user"></span><strong> Renato Ferreira Campos</strong></li>
          <li><span class="thf-icon thf-icon-telephone"></span> (11) 2859 1236</li> 
          <li><span class="thf-icon thf-icon-mail"></span> renato.campos@totvs.com.br</li> <p>
        </ul>
        </div>
      </thf-widget>

        <thf-widget class="thf-md-4" t-height="200" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid"
        (t-primary-action)="callContact('1512')"
        (t-secondary-action)="sendContact('caio.felipe@totvs.com.br')">
    
        <thf-avatar class="thf-md-4" t-size="md"
          t-src="../../assets/images/caio.png">
        </thf-avatar>
    
        <div class="thf-md-8">
          <ul>
          <li><span class="thf-icon thf-icon-user"></span><strong> Caio Cesar Felipe</strong></li>
          <li><span class="thf-icon thf-icon-telephone"></span> (11) 2859 1512</li> 
          <li><span class="thf-icon thf-icon-mail"></span> caio.felipe@totvs.com.br</li> <p>
        </ul>
        </div>
      </thf-widget>

        <thf-widget class="thf-md-4" t-height="200" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid"
        (t-primary-action)="callContact('1443')" 
        (t-secondary-action)="sendContact('joao.balbino@totvs.com.br')">
    
        <thf-avatar class="thf-md-4" t-size="md"
          t-src="../../assets/images/joao.png">
        </thf-avatar>
    
        <div class="thf-md-8">
          <ul>
          <li><span class="thf-icon thf-icon-user"></span><strong> João Paulo de Souza Balbino</strong></li>
          <li><span class="thf-icon thf-icon-telephone"></span> (11) 2859 1443</li> 
          <li><span class="thf-icon thf-icon-mail"></span> joao.balbino@totvs.com.br</li> <p>
        </ul>
        </div>
    
      </thf-widget>
    </div>

    <div class="row">
        <thf-widget class="thf-md-4" t-height="200" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid"
        (t-primary-action)="callContact('1463')"
        (t-secondary-action)="sendContact('yuri.porto@totvs.com.br')">
    
        <thf-avatar class="thf-md-4" t-size="md"
          t-src="../../assets/images/yuri.png">
        </thf-avatar>
    
        <div class="thf-md-8">
          <ul>
          <li><span class="thf-icon thf-icon-user"></span><strong> Yuri Milan Porto</strong></li>
          <li><span class="thf-icon thf-icon-telephone"></span> (11) 2859 1463</li> 
          <li><span class="thf-icon thf-icon-mail"></span> yuri.porto@totvs.com.br</li> <p>
        </ul>
        </div>    
      </thf-widget>

      <thf-widget class="thf-md-4" t-height="200" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid"
      (t-primary-action)="callContact('2859')"
      (t-secondary-action)="sendContact('vitor.pires@totvs.com.br')">
  
      <thf-avatar class="thf-md-4" t-size="md"
        t-src="../../assets/images/vitor.png">
      </thf-avatar>
  
      <div class="thf-md-8">
        <ul>
        <li><span class="thf-icon thf-icon-user"></span><strong> Vitor Pires</strong></li>
        <li><span class="thf-icon thf-icon-telephone"></span> (11) 2859 </li> 
        <li><span class="thf-icon thf-icon-mail"></span> vitor.pires@totvs.com.br</li> <p>
      </ul>
      </div>    
    </thf-widget>

    <thf-widget class="thf-md-4" t-height="200" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid"
    (t-primary-action)="callContact('3412')"
    (t-secondary-action)="sendContact('leonardo.barbosa@totvs.com.br')">

    <thf-avatar class="thf-md-4" t-size="md"
      t-src="../../assets/images/leonardo.png">
    </thf-avatar>

    <div class="thf-md-8">
      <ul>
      <li><span class="thf-icon thf-icon-user"></span><strong> Leonardo Magalhães Baborsa</strong></li>
      <li><span class="thf-icon thf-icon-telephone"></span> (11) 2859 3412</li> 
      <li><span class="thf-icon thf-icon-mail"></span> leonardo.barbosa@totvs.com.br</li> <p>
    </ul>
    </div>    
  </thf-widget>

  </div>

  <div class="row">
      <thf-widget class="thf-md-4" t-height="200" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid"
      (t-primary-action)="callContact('2306')"
      (t-secondary-action)="sendContact('julio.silva@totvs.com.br')">
  
      <thf-avatar class="thf-md-4" t-size="md"
        t-src="../../assets/images/julio.png">
      </thf-avatar>
  
      <div class="thf-md-8">
        <ul>
        <li><span class="thf-icon thf-icon-user"></span><strong> Julio Fernando da Silva Santos</strong></li>
        <li><span class="thf-icon thf-icon-telephone"></span> (11) 2859 2306</li> 
        <li><span class="thf-icon thf-icon-mail"></span> julio.silva@totvs.com.br</li> <p>
      </ul>
      </div>    
    </thf-widget>

    <thf-widget class="thf-md-4" t-height="200" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid"
    (t-primary-action)="callContact('2877')"
    (t-secondary-action)="sendContact('evandro.pattaro@totvs.com.br')">

    <thf-avatar class="thf-md-4" t-size="md"
      t-src="../../assets/images/evandro.png">
    </thf-avatar>

    <div class="thf-md-8">
      <ul>
      <li><span class="thf-icon thf-icon-user"></span><strong> Evandro Luiz Barbosa Pattaro</strong></li>
      <li><span class="thf-icon thf-icon-telephone"></span> (11) 2859 2877</li> 
      <li><span class="thf-icon thf-icon-mail"></span> evandro.pattaro@totvs.com.br</li> <p>
    </ul>
    </div>    
  </thf-widget>

  <thf-widget class="thf-md-4" t-height="200" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid"
  (t-primary-action)="callContact('2394')"
  (t-secondary-action)="sendContact('diogo.saravando@totvs.com.br')">

  <thf-avatar class="thf-md-4" t-size="md"
    t-src="../../assets/images/diogo.png">
  </thf-avatar>

  <div class="thf-md-8">
    <ul>
    <li><span class="thf-icon thf-icon-user"></span><strong> Diogo Francisco Vieira Saravando</strong></li>
    <li><span class="thf-icon thf-icon-telephone"></span> (11) 2859 2394</li> 
    <li><span class="thf-icon thf-icon-mail"></span> diogo.saravando@totvs.com.br</li> <p>
  </ul>
  </div>    
</thf-widget>

</div>

<div class="row">
    <thf-widget class="thf-md-4" t-height="200" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid"
    (t-primary-action)="callContact('2202')"
    (t-secondary-action)="sendContact('wesley.lossani@totvs.com.br')">

    <thf-avatar class="thf-md-4" t-size="md"
      t-src="../../assets/images/wesley.png">
    </thf-avatar>

    <div class="thf-md-8">
      <ul>
      <li><span class="thf-icon thf-icon-user"></span><strong> Wesley Lossani</strong></li>
      <li><span class="thf-icon thf-icon-telephone"></span> (11) 2859 2202</li> 
      <li><span class="thf-icon thf-icon-mail"></span> wesley.lossani@totvs.com.br</li> <p>
    </ul>
    </div>    
  </thf-widget>

  <thf-widget class="thf-md-4" t-height="200" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid"
  (t-primary-action)="callContact('1186')"
  (t-secondary-action)="sendContact('tiago.bertolo@totvs.com.br')">

  <thf-avatar class="thf-md-4" t-size="md"
    t-src="../../assets/images/tiago.png">
  </thf-avatar>

  <div class="thf-md-8">
    <ul>
    <li><span class="thf-icon thf-icon-user"></span><strong> Tiago Bertolo</strong></li>
    <li><span class="thf-icon thf-icon-telephone"></span> (11) 2859 1186</li> 
    <li><span class="thf-icon thf-icon-mail"></span> tiago.bertolo@totvs.com.br</li> <p>
  </ul>
  </div>    
</thf-widget>

<thf-widget class="thf-md-4" t-height="200" t-primary-label="Ligar" t-secondary-label="Enviar e-mail" id="wid"
(t-primary-action)="callContact('1293')"
(t-secondary-action)="sendContact('eduardo.martinez@totvs.com.br')">

<thf-avatar class="thf-md-4" t-size="md"
  t-src="../../assets/images/eduardo.png">
</thf-avatar>

<div class="thf-md-8">
  <ul>
  <li><span class="thf-icon thf-icon-user"></span><strong> Eduardo Karpischek Martinez</strong></li>
  <li><span class="thf-icon thf-icon-telephone"></span> (11) 2859 1293</li> 
  <li><span class="thf-icon thf-icon-mail"></span> eduardo.martinez@totvs.com.br</li> <p>
</ul>
</div>    
</thf-widget>

</div>

</thf-page-default>    
