<thf-page-default id="page">
  <blockquote id="blockquote">T-PRIME - Manutenção PRIME</blockquote>   
  
  <div class="thf-row" id="div" >
    <thf-widget class="thf-md-4" id= "wid">
      <h4>Ferramentas Totvs</h4>
      <ul id="ul">        
        <li style="list-style-position: inside"><a href="http://jiraproducao.totvs.com.br">Jira</a></li>
        <li style="list-style-position: inside"><a href="https://totvssuporte.zendesk.com">Zendesk</a> </li>   
        <li style="list-style-position: inside"><a href="http://tdn.totvs.com/">TDN</a>  </li>   
        <li style="list-style-position: inside"><a href="http://fluig.totvs.com">Fluig</a>  </li>   
        <li style="list-style-position: inside"><a href="https://ast.totvs.com.br/view">AST</a>  </li>   
                
      </ul>            
    </thf-widget>

    <thf-widget class="thf-md-4" id= "wid">
      <h4>Ferramentas Desenvolvimento</h4>
      <ul id="ul">        
        <li style="list-style-position: inside"> <a href="http://advpr.totvs.com.br:8080">Portal da Automação</a>  </li>   
        <li style="list-style-position: inside"><a href="https://trello.com/b/T9JYvFqP/prime">Trello Prime</a>  </li>   
        <li style="list-style-position: inside"><a href="https://status.engpro.totvs.com.br/">Status Engenharia</a>  </li>          
        <li style="list-style-position: inside"><a href="https://suporte.totvs.com/portal/p/10098/totvs-publicador-de-pacotes">Publicador</a>  </li>
        <li style="list-style-position: inside"><a href="http://romana.jv01.local/gcad-tools/index.php?go=eng3120">GCAD Tools</a>  </li>   
      </ul>            
    </thf-widget>
    <thf-widget class="thf-md-4" id= "wid">
        <h4>Tickets Internos</h4>        
        <ul id="ul">
          <li style="list-style-position: inside"><a href="mailto:gcad.sp@totvs.com.br">GCAD</a></li>
          <li style="list-style-position: inside"><a href="mailto:ti@totvs.com.br">TI</a></li>
          <li style="list-style-position: inside"><a href="mailto:automacao.protheus@totvs.com.br">Automação</a></li>
          <li style="list-style-position: inside"><a href="mailto:eng.corp.atendimento@totvs.com.br">Zendesk</a></li>
          <li style="list-style-position: inside"><a href="mailto:eng.corp.desenv@totvs.com.br">Jira</a></li>
        </ul>       
      </thf-widget>   
    
  </div>

  <div class="thf-row" id= "div">   
    <thf-widget class="thf-md-12" id= "wid"  t-background="back">
        <h4>Compartilhamentos</h4>
      <ul  id="ul" class="thf-md-12">        
        <li style="list-style-position: inside">Servidor PRIME - <a href="file:///\\\vmsla178\Manutenção\" class="external-link" rel="nofollow">\\VMSLA178\manutenção</a></li>
        <li style="list-style-position: inside">Servidor Bases Setor Público - <a href="file:///\\\Vmsla10489\e\Atalhos">\\Vmsla10489\e\Atalhos</a></li>   
        <li style="list-style-position: inside">Includes - <a href="file:///\\ttvprtv1asx001.sp01.local\temp">\\ttvprtv1asx001.sp01.local\temp</a></li>   
        <li style="list-style-position: inside">Artefatos Protheus - <a href="http://arte.engpro.totvs.com.br">http://arte.engpro.totvs.com.br</a></li>   
      </ul>  
    </thf-widget>

        
  </div>
  <div class="thf-row" id= "div">  
    <thf-widget class="thf-md-12" id= "wid" >
      <h4>Controles Internos Manutenção PRIME</h4>        
      <ul id="ul">        
        <li style="list-style-position: inside">Rejeições - <a href="file:///\\VMSLA178\manutenção\Rejeições.xlsx">\\VMSLA178\manutenção\Rejeições.xlsx</a></li>
        <li style="list-style-position: inside">Reflexos Padrão - <a href="file:///\\VMSLA178\manutenção\Reflexos_Manutenção_Padrão.xlsx">\\VMSLA178\manutenção\Reflexos_Manutenção_Padrão.xlsx</a></li>
      </ul>       
    </thf-widget>  
  </div>  
  

    


</thf-page-default>    

