#blockquote{
    border-left: 5px solid #0c9abe;
    margin: 0px 0 20px;
    padding: 10px 20px;
    font-size: 20px;       
}
#btn{
    margin-top: 10px;
    margin-bottom: 20px;	
}
#btngerar{
    margin-top: 30px;	
    margin-left: 10px;	
}
#wid{
    margin-bottom: 10px;
    margin-top: 30px;	
}
#f{
    margin-top: 30px;	
    margin-bottom: 30px;
    position: relative;
}
#hr {
	border:#0c9abe solid ;
}
#titlebacklog{
    border-left: 5px solid #0c9abe;
    margin: 0px 0 20px;
    padding: 10px 20px;
    font-size: 8px;

}
#infoCliente{
    border-left: 5px ;
    margin: 0px 0 20px;
    padding: 10px 20px;
    font-size: 8px;

}
#rowtable{
    margin-top: 30px;	
    margin-bottom: 30px;
}
#divid{
    margin-top: 30px;	
    margin-bottom: 30px;
}
