<thf-page-default >
  <blockquote id="blockquote">Indicadores Por Cliente</blockquote>

  <form #f="ngForm" id="f">
    <div class="thf-row">
      <thf-widget class="thf-md-12"  >
        <div class="thf-row">
          <thf-input name="input" t-label="Insira o Código da Organização" t-required=true t-icon='thf-icon-company' ></thf-input>
          <thf-button id="btngerar" class="thf-md-4" (t-click)= "onbotao1()" t-icon="thf-icon thf-icon-bar-code" t-label="Gerar Indicadores" t-primary="true"></thf-button>
        </div>          
      </thf-widget>
    </div>
  </form>
        
  <hr id="hr">

  <thf-widget class="thf-md-12" id="wid">
      <div class="thf-row" id="titlebacklog">   
        <h1 id='idh1'>OAS</h1>    
      </div>      
      <thf-chart class="thf-md-12"       
        t-height="390px;"
        t-label-visible="true"
        [t-categories]="categchart5"
        [t-series]="serieschart5"
        t-title="Pendências do Cliente"
        t-type="column">
     </thf-chart>
     <div class="thf-row">
      <thf-chart class="thf-md-6" 
        [t-categories]="categchart3"
        t-height="390px;"
        t-label-visible="true"
        [t-series]="serieschart3"
        t-title="Tickets em Atraso"
        t-type="pie">
      </thf-chart>

      <thf-chart class="thf-md-6" 
        [t-categories]="categchart4"
        t-height="390px;"
        t-label-visible="true"
        [t-series]="serieschart4"
        t-title="SLA"
        t-type="pie">
      </thf-chart>
    </div>
     <div class="div" id="divid">
      <thf-grid [t-data]="dataItems" [t-columns]="columnsgrid" [t-sortable]=true [t-show-export-buttons]=true [t-sortable]=true [t-editable]=true t-selectable=true></thf-grid>      
    </div>
  </thf-widget>
  
  
  
  
  
</thf-page-default>    